#!/usr/bin/env bash

# Check if executable exists
is_executable() {
  type "$1" > /dev/null 2>&1
}

# Add to path
prepend-path() {
  [ -d $1 ] && PATH="$1:$PATH"
}

# Switch long/short prompt
ps0() {
  unset PROMPT_COMMAND
  PS1='$ '
}
ps1() {
  source "$DOTFILES_DIR"/.prompt
}

if [ "$(uname)" == "Darwin" ]; then #macOS
    source "$DOTFILES_DIR/functions_macos";
elif [ "$(expr substr $(uname -s) 1 5)" == "Linux" ]; then #Linux
    source "$DOTFILES_DIR/functions_linux";
fi

get_and_save_wallpaper () {
  if [ ! -d ${wallpaper_dir} ]; then 
        echo ${wallpaper_dir}
        mkdir -p ${wallpaper_dir}
  fi
  curl -s -L -o ${wallpaper_dir}/${img_name} "https://source.unsplash.com/featured/2880x1800?wallpaper/$RANDOM"  > /dev/null

  # Some more examples of links

  # http://source.unsplash.com/random/2880x1800/
  # http://source.unsplash.com/collection/1446722/2880x1800/
  # http://source.unsplash.com/2880x1800/?cool,wallpaper
  # http://source.unsplash.com/collection/1538150/2880x1800/
  # http://source.unsplash.com/2880x1800/?Categories
  # http://source.unsplash.com/featured/2880x1800/
  # https://source.unsplash.com/featured/2880x1800?wallpaper
  # http://source.unsplash.com/random/2880x1800/
  # http://source.unsplash.com/collection/1446722/2880x1800/
  # http://source.unsplash.com/2880x1800/?cool,wallpaper
  # http://source.unsplash.com/collection/1538150/2880x1800/
  # http://source.unsplash.com/collections/827737/sport/2880x1800/
  # http://unsplash.com/collections/395888/halloween/2880x1800/
  # http://unsplash.com/collections/162468/earth-from-above/2880x1800/
  # http://unsplash.com/collections/162213/long-exposure/2880x1800/
  # http://unsplash.com/collections/2569191/experimental/2880x1800/
  # http://unsplash.com/collections/1060/story-telling/2880x1800/
  # http://unsplash.com/collections/369/adventure/2880x1800/
  # http://unsplash.com/collections/410546/the-road-less-travelled/2880x1800/
  #https://unsplash.com/collections/1111678/2880x1800/
}

# Random wallpaper from Unsplash
ruw (){
    wallpaper_dir=$HOME/Pictures/Wallpapers
    date_time=$(date +%F_%H-%M-%S)
    img_name=${date_time}.png

    $(get_and_save_wallpaper)
    $(set_wallpaper) 
}

# Random wallpaper from saved wallpapers 
rsw () {
    wallpaper_dir=$HOME/Pictures/Wallpapers
    img_name=$(ls ${wallpaper_dir} | sort -R | tail -n 1)

    $(set_wallpaper)
}