#!/usr/bin/env bash

# Check if executable exists
is_executable() {
  type "$1" > /dev/null 2>&1
}

# Add to path
prepend-path() {
  [ -d $1 ] && PATH="$1:$PATH"
}

# Switch long/short prompt
ps0() {
  unset PROMPT_COMMAND
  PS1='$ '
}
ps1() {
  source "$DOTFILES_DIR"/.prompt
}

if [ "$(uname)" == "Darwin" ]; then #macOS
    source "$DOTFILES_DIR/functions_macos";
elif [ "$(expr substr $(uname -s) 1 5)" == "Linux" ]; then #Linux
    source "$DOTFILES_DIR/functions_linux";
fi

get_and_save_wallpaper () {
  if [ ! -d ${WALLPAPER_DIR} ]; then 
        echo ${WALLPAPER_DIR}
        mkdir -p ${wallpaper_dir}
  fi
  
  set_resolution
  curl -s -L -o ${WALLPAPER_DIR}/${img_name} "https://source.unsplash.com/featured/${display_resolution}?himalayas,tibet,spiti,ladakh,zanskar,nubra,rohtang,annapurna,everest/$RANDOM"  > /dev/null

  # Some more examples of links

  # http://source.unsplash.com/random/2880x1800/
  # http://source.unsplash.com/2880x1800/?cool,wallpaper
  # http://source.unsplash.com/collection/1446722/2880x1800/
  # https://source.unsplash.com/featured/2880x1800?wallpaper
  # https://source.unsplash.com/featured/2880x1800?hd,wallpaper
}

# Random wallpaper from Unsplash
ruw (){
    date_time=$(date +%F_%H-%M-%S)
    img_name=${date_time}.jpg

    $(get_and_save_wallpaper)
    $(set_wallpaper) 
}

# Random wallpaper from saved wallpapers 
rsw () {
    img_name=$(ls ${WALLPAPER_DIR} | sort -R | tail -n 1)
    
    echo ${WALLPAPER_DIR}/${img_name}

    $(set_wallpaper)
}

# Delete wallpaper downloaded from unsplash
duw () {
  img_name=$(ls ${WALLPAPER_DIR} -t | head -n 1)

  rm -rf ${WALLPAPER_DIR}/${img_name} 
}

# thefuck
eval $(thefuck --alias)
